<h2>Add User</h2>

<%= form_for :new_user, url: add_user_url do |f| %>
    <%= f.text_field :name, class:"form-control", placeholder: "Username" %>
    <%= f.submit 'Add User', class:"btn btn-success log-in" %>
<% end %>
