<h1>New Group</h1>

<%= form_for [@user, @group] do |f| %>
    <%= f.text_field :name, class:"form-control", placeholder: "Group Name" %>
    <%= f.submit 'Create Group', class: "btn btn-success log-in" %>
<% end %>
