<h2><%= @user.name %></h2>

<%@user.groups.each do |group|%>

<div class="groups">
  <button class ="btn btn-primary btn-lg" type="button">
    <%= link_to user_group_path(@user, group), method: :get do %>
      <%= group.name %>
    <% end %>
  </button>
</div>

<%end%>

<button class ="btn btn-primary btn-success btn-lg" type="button">
  <%= link_to new_user_group_path(@user), method: :get do %>
    New Group
  <% end %>
</button>

<footer>
  <p>github.com/vader0</p>
</footer>
