<h2><%= @user.name %>!</h2>

<p>
<strong>Email:</strong> <%= @user.email %>
</p>

<%@user.groups.each do |group|%>
<%= link_to "#{group.name}", {controller: 'groups', action: 'show', user_id: @user.id, id: group.id} %>
<%end%>
