<h2>Sinema</h2>

<br>

<div class="row">
  <h5>Technologies</h5>
  <br>
  <div class="col-md-4">
    <img class="techs" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/rails_a5a474.png">
  </div>
  <div class="col-md-4">
    <img class="techs atom" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/bootstrap_i9gh1c.jpg">
  </div>
  <div class="col-md-4">
    <img class="techs" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/js_nn28be.png">
  </div>
</div>

<div class="row">
  <h5>Tools</h5>
  <br>
  <div class="col-md-4">
    <img class="techs atom" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/atom_uceemm.png">
  </div>
  <div class="col-md-4">
    <img class="techs" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/gitkraken_iru4di.jpg">
  </div>
  <div class="col-md-4">
    <img class="techs" src="http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/brain_xseldl.png">
  </div>
</div>
