<h2>Sinema</h2>

<br>

<div class="row">
  <h5>Technologies</h5>
  <br>
  <div class="col-md-4">
    <img class="techs" src="/assets/rails.png">
  </div>
  <div class="col-md-4">
    <img class="techs atom" src="/assets/bootstrap.jpg">
  </div>
  <div class="col-md-4">
    <img class="techs" src="/assets/js.png">
  </div>
</div>

<div class="row">
  <h5>Tools</h5>
  <br>
  <div class="col-md-4">
    <img class="techs atom" src="/assets/atom.png">
  </div>
  <div class="col-md-4">
    <img class="techs" src="/assets/gitkraken.jpg">
  </div>
  <div class="col-md-4">
    <img class="techs" src="/assets/brain.png">
  </div>
</div>
