// Place all the styles related to the Choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.film-choice {
  border-radius: 5%;
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 15vw;
  cursor: url("http://res.cloudinary.com/hu55ds6z7/image/upload/v1482419397/heart_ot1w6c.png") 50 50, auto;
  float: left;
}
.film-user{
  float: left;
  margin-right: 60%;
  margin-left: 5%;
}

.back {
  width: 15vw;
}
