// Place all the styles related to the Choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.film-choice {
  border-radius: 5%;
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 15vw;
  cursor: url("/assets/heart.png") 50 50, auto;
  float: left;
}
.film-user{
  float: left;
  margin-right: 60%;
  margin-left: 5%;
}
