// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forbidden {
  width: 30vw;
  margin-bottom: 10%;
}

.film-container {
  list-style: none;
}

.film-img-js {
  border-radius: 5%;
  margin-bottom: 2vh;
  margin-right: 4%;
  width: 30vw;
  cursor: pointer;
}
