// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#forbidden {
  width: 30vw;
  margin-bottom: 10%;
}

#img {
  list-style: none;
}
